# Lambdas, udef, filter, map

The goverment made a socilogical study of citizens at mid-40's. They gathered the following data:

In [1]:
citicens = [{ 'First Name': 'Preston' , 'Last Name': 'Cunningham', 'Age': 49 , 'Education': 'Doctoral', 'Occupation':' Teacher' ,'Experience (Years)': 6, 'Salary': 62499}, 
 { 'First Name': 'Madaline', 'Last Name': 'Farrell', 'Age': 41, 'Education': 'Bachelor', 'Occupation': 'Insurer','Experience (Years)': 16, 'Salary': 50190},
 { 'First Name': 'Eleanor', 'Last Name': 'Carter', 'Age': 49, 'Education': 'Lower secondary', 'Occupation': 'Programmer','Experience (Years)': 18, 'Salary': 189716},
 { 'First Name': 'Adison', 'Last Name': 'Hall', 'Age': 42 , 'Education': 'Bachelor', 'Occupation': 'Florist','Experience (Years)': 21, 'Salary': 34517},
 { 'First Name': 'Grace', 'Last Name': 'Cooper', 'Age': 49, 'Education': 'Master', 'Occupation': 'Singer','Experience (Years)': 9, 'Salary': 51994},
 { 'First Name': 'Alford', 'Last Name': 'Kelley', 'Age': 49, 'Education': 'Bachelor', 'Occupation': 'Aeroplane Pilot','Experience (Years)': 9, 'Salary': 170466},
 { 'First Name': 'Vincent', 'Last Name': 'Anderson', 'Age': 47, 'Education': 'Master', 'Occupation': 'Botanist','Experience (Years)': 6, 'Salary': 71617},
 { 'First Name': 'Myra', 'Last Name': 'Wright', 'Age': 45, 'Education': 'Master', 'Occupation': 'Geologist' ,'Experience (Years)': 18, 'Salary': 48786},
 { 'First Name': 'Chester', 'Last Name':'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer','Experience (Years)': 13, 'Salary': 44826},
 { 'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter','Experience (Years)': 21, 'Salary': 36761},
 { 'First Name': 'Paige', 'Last Name': 'Ryan', 'Age': 43, 'Education': 'Primary', 'Occupation': 'Fine Artist','Experience (Years)': 19, 'Salary': 28181},
 { 'First Name': 'Natalie', 'Last Name': 'Ellis', 'Age': 45, 'Education': 'Bachelor', 'Occupation': 'Baker','Experience (Years)': 0, 'Salary': 31194},
 { 'First Name': 'Martin', 'Last Name': 'Thompson', 'Age': 47, 'Education': 'Bachelor', 'Occupation': 'Journalist','Experience (Years)': 21, 'Salary': 90183},
 { 'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer','Experience (Years)': 2, 'Salary': 18440},
 { 'First Name': 'Inga', 'Last Name': 'Bergman', 'Age': 41, 'Education': 'Bachelor', 'Occupation': 'Producer','Experience (Years)': 22, 'Salary': 80029},
 { 'First Name': 'Freddy', 'Last Name': 'Brown', 'Age': 48, 'Education': 'Bachelor', 'Occupation': 'Economist','Experience (Years)': 18, 'Salary': 146217},
 { 'First Name': 'Adelaide', 'Last Name': 'Farrell', 'Age': 42, 'Education': 'Bachelor', 'Occupation': 'Mechanic','Experience (Years)': 9, 'Salary':19414},
 { 'First Name': 'Luke', 'Last Name': 'Cooper', 'Age': 40, 'Education': 'Upper secondary', 'Occupation': 'Producer','Experience (Years)': 17, 'Salary': 160541},
 { 'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker','Experience (Years)': 1, 'Salary': 25904},
 { 'First Name': 'Ashton', 'Last Name': 'Kelly', 'Age': 49, 'Education': 'Master', 'Occupation': 'Chef','Experience (Years)': 6, 'Salary': 95533}
]

The goverment wants to know some things about this sample of citizens.

## Exercise 1:

1. Create a user defined function to compute the mean of a list of numbers.
2. Use python code to store the ages of the citizens inside a list.
3. Use your function to compute the mean age (round the mean age to one decimal) using `round()`

Expected result:

```python
"The mean age of the citizens is: average_age years"
```

replacing `average_age` by the correspoding value.

In [2]:
def Sacar_edad (citicens):
    lista_edad=[]
    for dic in citicens:
        lista_edad.append(dic['Age'])
                
    return lista_edad

def mean_age(lista_edad):
    suma=0
    for i in lista_edad:
        suma += i
    mean= suma/len(lista_edad)
    return round(mean)


lista_edad=Sacar_edad(citicens)
mean_age = mean_age(lista_edad)
print("La media de edad es de:", mean_age, "años")

La media de edad es de: 45 años

# Exercise 2:

1. What are the unique educational levels?  
2. How many unique educational levels are?
3. What are the unique ocupations?
4. How many unique ocupations are?

In [3]:
def unique_ed_levels (citicens):
    lista_ed=[]
    for i in citicens:
        lista_ed.append(i['Education'])
    lista_eds=set(lista_ed)
    return lista_eds
def unique_o(citicens):
    lista_o=[]
    for i in citicens:
        lista_o.append(i['Occupation'])
    lista_os=set(lista_o)
    return lista_os
unique_ed_levels = list(unique_ed_levels(citicens))
unique_o = list(unique_o(citicens))
print("1) What are the unique educational levels?:", unique_ed_levels)
print("2) How many unique educational levels are?: ",len(unique_ed_levels))
print("3) What are the unique ocupations?:", unique_o)
print("4) How many unique educational levels are?: ",len(unique_o))

1) What are the unique educational levels?: ['Bachelor', 'Lower secondary', 'Primary', 'Upper secondary', 'Doctoral', 'Master']
2) How many unique educational levels are?:  6
3) What are the unique ocupations?: [' Teacher', 'Florist', 'Baker', 'Firefighter', 'Chef', 'Astronomer', 'Geologist', 'Insurer', 'Aeroplane Pilot', 'Fine Artist', 'Producer', 'Singer', 'Programmer', 'Botanist', 'Mechanic', 'Journalist', 'Economist']
4) How many unique educational levels are?:  17

# Exercise 3:

1. Provide a new list in which avery element is another dictionary which only contains:

* 'First Name'
* 'Last Name'
* and at which age they started working?
   ( substract from the age the years of experience )

Expected output:

```python
[{ 'First Name': name, 'Last Name': last_name,'Starting age': 27},
 ...
]
```

In [4]:
def LISTAS (citicens):
    lista_N=[]
    lista_S=[]
    lista_A=[]
    lista_E=[]
    lista_W=[]
    for i in citicens:
        lista_N.append(i['First Name'])
        lista_S.append(i['Last Name'])
        lista_A.append(i['Age'])
        lista_E.append(i['Experience (Years)'])
        
    lista_W = list(map(lambda x,y: x-y ,lista_A,lista_E))
    
    return lista_N, lista_S, lista_W

lista_N = LISTAS(citicens)[0]
lista_S = LISTAS(citicens)[1]
lista_W =LISTAS(citicens)[2]
newdic=[]
for i,j,k in zip(lista_N, lista_S, lista_W):
   
    dicprov={}
    dicprov.update({'First Name': i , 'Last Name' : j , 'Starting age' : k})
    newdic.append(dicprov)
            
print(newdic)

[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Starting age': 43}, {'First Name': 'Madaline', 'Last Name': 'Farrell', 'Starting age': 25}, {'First Name': 'Eleanor', 'Last Name': 'Carter', 'Starting age': 31}, {'First Name': 'Adison', 'Last Name': 'Hall', 'Starting age': 21}, {'First Name': 'Grace', 'Last Name': 'Cooper', 'Starting age': 40}, {'First Name': 'Alford', 'Last Name': 'Kelley', 'Starting age': 40}, {'First Name': 'Vincent', 'Last Name': 'Anderson', 'Starting age': 41}, {'First Name': 'Myra', 'Last Name': 'Wright', 'Starting age': 27}, {'First Name': 'Chester', 'Last Name': 'Bennett', 'Starting age': 29}, {'First Name': 'Blake', 'Last Name': 'Tucker', 'Starting age': 21}, {'First Name': 'Paige', 'Last Name': 'Ryan', 'Starting age': 24}, {'First Name': 'Natalie', 'Last Name': 'Ellis', 'Starting age': 45}, {'First Name': 'Martin', 'Last Name': 'Thompson', 'Starting age': 26}, {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Starting age': 44}, {'First Name': 'Inga', 'Last Name': 'Bergman', 'Starting age': 19}, {'First Name': 'Freddy', 'Last Name': 'Brown', 'Starting age': 30}, {'First Name': 'Adelaide', 'Last Name': 'Farrell', 'Starting age': 33}, {'First Name': 'Luke', 'Last Name': 'Cooper', 'Starting age': 23}, {'First Name': 'Sofia', 'Last Name': 'Hall', 'Starting age': 40}, {'First Name': 'Ashton', 'Last Name': 'Kelly', 'Starting age': 43}]

# Exercise 4:

1. Can you provide a dictionary which contains **unique** `Education` levels and the corresponding mean salary?
2. Do the same but by `Occupation`

Expected outputs:

```python
{'Doctoral': mean_salary_doctorals,
 'Bachelor': mean_salaty_bachelors,
...}
```

```python
{'Teacher': mean_salary_teachers,
 'Insurer': mean_salaty_insurers,
...}
````

**CAVEAT!!** The statement says: UNIQUE!!!

In [7]:
salarios = {}
for persona in citicens:
    if persona['Education'] not in salarios.keys():
        salarios[persona['Education']] = [persona['Salary']]
    else:
        salarios[persona['Education']].append(persona['Salary'])
        
for key in salarios.keys():
    salarios[key] = sum(salarios[key])/len(salarios[key])
    
salarios

{'Doctoral': 37686.0,
 'Bachelor': 77776.25,
 'Lower secondary': 189716.0,
 'Master': 66982.5,
 'Primary': 28181.0,
 'Upper secondary': 160541.0}

In [6]:
salarios = {}
for persona in citicens:
    if persona['Occupation'] not in salarios.keys():
        salarios[persona['Occupation']] = [persona['Salary']]
    else:
        salarios[persona['Occupation']].append(persona['Salary'])
        
for key in salarios.keys():
    salarios[key] = sum(salarios[key])/len(salarios[key])
    
salarios

{' Teacher': 62499.0,
 'Insurer': 50190.0,
 'Programmer': 189716.0,
 'Florist': 34517.0,
 'Singer': 35217.0,
 'Aeroplane Pilot': 170466.0,
 'Botanist': 71617.0,
 'Geologist': 48786.0,
 'Astronomer': 44826.0,
 'Firefighter': 36761.0,
 'Fine Artist': 28181.0,
 'Baker': 28549.0,
 'Journalist': 90183.0,
 'Producer': 120285.0,
 'Economist': 146217.0,
 'Mechanic': 19414.0,
 'Chef': 95533.0}

# Exercise 5:

1. Use a `lambda` function and `filter` to keep only citizens with 'Doctoral' educational level.
2. Use a user defined function to obtain the same output

The output in both cases should be:

```python
[{'First Name': 'Preston',
  'Last Name': 'Cunningham',
  'Age': 49,
  'Education': 'Doctoral',
  'Occupation': ' Teacher',
  'Experience (Years)': 6,
  'Salary': 62499},
 {'First Name': 'Chester',
  'Last Name': 'Bennett',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Astronomer',
  'Experience (Years)': 13,
  'Salary': 44826},
 {'First Name': 'Blake',
  'Last Name': 'Tucker',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Firefighter',
  'Experience (Years)': 21,
  'Salary': 36761},
 {'First Name': 'Alan',
  'Last Name': 'Sullivan',
  'Age': 46,
  'Education': 'Doctoral',
  'Occupation': 'Singer',
  'Experience (Years)': 2,
  'Salary': 18440},
 {'First Name': 'Sofia',
  'Last Name': 'Hall',
  'Age': 41,
  'Education': 'Doctoral',
  'Occupation': 'Baker',
  'Experience (Years)': 1,
  'Salary': 25904}]
```

In [9]:
list(filter(lambda x: x['Education'] == 'Doctoral', citicens))

[{'First Name': 'Preston',
  'Last Name': 'Cunningham',
  'Age': 49,
  'Education': 'Doctoral',
  'Occupation': ' Teacher',
  'Experience (Years)': 6,
  'Salary': 62499},
 {'First Name': 'Chester',
  'Last Name': 'Bennett',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Astronomer',
  'Experience (Years)': 13,
  'Salary': 44826},
 {'First Name': 'Blake',
  'Last Name': 'Tucker',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Firefighter',
  'Experience (Years)': 21,
  'Salary': 36761},
 {'First Name': 'Alan',
  'Last Name': 'Sullivan',
  'Age': 46,
  'Education': 'Doctoral',
  'Occupation': 'Singer',
  'Experience (Years)': 2,
  'Salary': 18440},
 {'First Name': 'Sofia',
  'Last Name': 'Hall',
  'Age': 41,
  'Education': 'Doctoral',
  'Occupation': 'Baker',
  'Experience (Years)': 1,
  'Salary': 25904}]

In [10]:
def seleccionar_doctorados(diccionario):
    lista = []
    for persona in diccionario:
        if persona['Education'] == 'Doctoral':
            lista.append(persona)
    return lista

seleccionar_doctorados(citicens)

[{'First Name': 'Preston',
  'Last Name': 'Cunningham',
  'Age': 49,
  'Education': 'Doctoral',
  'Occupation': ' Teacher',
  'Experience (Years)': 6,
  'Salary': 62499},
 {'First Name': 'Chester',
  'Last Name': 'Bennett',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Astronomer',
  'Experience (Years)': 13,
  'Salary': 44826},
 {'First Name': 'Blake',
  'Last Name': 'Tucker',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Firefighter',
  'Experience (Years)': 21,
  'Salary': 36761},
 {'First Name': 'Alan',
  'Last Name': 'Sullivan',
  'Age': 46,
  'Education': 'Doctoral',
  'Occupation': 'Singer',
  'Experience (Years)': 2,
  'Salary': 18440},
 {'First Name': 'Sofia',
  'Last Name': 'Hall',
  'Age': 41,
  'Education': 'Doctoral',
  'Occupation': 'Baker',
  'Experience (Years)': 1,
  'Salary': 25904}]

# Exercise 6:

1. Use a `lambda` function alongside with `map()` to get a list of strings with the following pattern:

"First Name is number_of_years years old"

The expected output should be:

```python
['Preston Cunningham is 49 years old',
 'Madaline Farrell is 41 years old',
 'Eleanor Carter is 49 years old',
 'Adison Hall is 42 years old',
 'Grace Cooper is 49 years old',
 'Alford Kelley is 49 years old',
 'Vincent Anderson is 47 years old',
 'Myra Wright is 45 years old',
 'Chester Bennett is 42 years old',
 'Blake Tucker is 42 years old',
 'Paige Ryan is 43 years old',
 'Natalie Ellis is 45 years old',
 'Martin Thompson is 47 years old',
 'Alan Sullivan is 46 years old',
 'Inga Bergman is 41 years old',
 'Freddy Brown is 48 years old',
 'Adelaide Farrell is 42 years old',
 'Luke Cooper is 40 years old',
 'Sofia Hall is 41 years old',
 'Ashton Kelly is 49 years old']
```

Hint: use `str()` to cast an integer into a string.

In [11]:
list(map(lambda x: ' '.join([x['First Name'], x['Last Name'], 'is', str(x['Age']), 'years old']), citicens))

['Preston Cunningham is 49 years old',
 'Madaline Farrell is 41 years old',
 'Eleanor Carter is 49 years old',
 'Adison Hall is 42 years old',
 'Grace Cooper is 49 years old',
 'Alford Kelley is 49 years old',
 'Vincent Anderson is 47 years old',
 'Myra Wright is 45 years old',
 'Chester Bennett is 42 years old',
 'Blake Tucker is 42 years old',
 'Paige Ryan is 43 years old',
 'Natalie Ellis is 45 years old',
 'Martin Thompson is 47 years old',
 'Alan Sullivan is 46 years old',
 'Inga Bergman is 41 years old',
 'Freddy Brown is 48 years old',
 'Adelaide Farrell is 42 years old',
 'Luke Cooper is 40 years old',
 'Sofia Hall is 41 years old',
 'Ashton Kelly is 49 years old']