## Section 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element. The reason for this is that a tuple is defined as a series of comma-separated values. The parenthesis are not actually needed and are used simply for clarity. Therefore if we try to create a tuple without using a comma Python will simply interpret the element as a single element, be it a string, int or other types.*

In [1]:
tup= "I",

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [2]:
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k"
```

In [3]:

tup= "I","r", "o", "n", "h", "a", "c", "k"

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [4]:
tup=list(tup)#transformas la tup en list para poder editarla
type(tup) #comprobamos que se ha cambiado el type correctamente
#Ahora cambiar√≠as la lista como quieras
tup=tuple(tup)#Volvemos a transformar la variable a type tuple
#Fin

list

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`

In [85]:
tup= "I","r", "o", "n", "h", "a", "c", "k"
tup1 =tup[:4]
tup2 =tup[4:]
print (tup1)
print (tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [87]:
tup3 = tup1 +tup2
print(tup3)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [92]:
print(len(tup1))
print(len(tup2))
print(len(tup3))
if len(tup1+tup2)==len(tup3):
    print("Son iguales")
else:
    print("Son diferentes")

4
4
8
Son iguales

#### What is the index number of `"h"` in `tup3`?

In [93]:
tup3.index("h")

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [96]:
letters = ["a", "b", "c", "d", "e"]
for i in letters:
    if i in tup3:
        print(i +" True")
        
    else:
        print(i+ " False")

a True
b False
c True
d False
e False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [104]:
letters = ["a", "b", "c", "d", "e"]
a= 0
for i in letters:
    if i in tup3:
        a=a+1
        print(i ,":", a)
        a=0
    else:
        print(i, ": 0",)

a : 1
b : 0
c : 1
d : 0
e : 0

## Section 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [116]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
import random
sample_list_1= random.sample(range(100), 80)
print(sample_list_1)

[32, 39, 92, 87, 12, 99, 15, 10, 64, 84, 69, 37, 60, 76, 77, 83, 9, 91, 17, 90, 25, 66, 89, 38, 79, 44, 63, 18, 57, 53, 94, 2, 11, 23, 42, 72, 33, 96, 74, 46, 70, 56, 97, 82, 41, 48, 85, 30, 47, 6, 59, 58, 27, 36, 75, 54, 4, 67, 55, 68, 7, 3, 78, 73, 93, 40, 65, 45, 31, 0, 62, 71, 13, 98, 52, 20, 80, 86, 50, 34]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Define the initial `sample_list_2` as empty
* Add values using the `append()` [method](https://www.w3schools.com/python/ref_list_append.asp)
* Each value must be an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` [function](https://www.w3schools.com/python/ref_random_randrange.asp).*

In [9]:
sample_list_2 =[]
for i in set1:
    sample_list_2.append(random.randrange(0,100))

print(sample_list_2)

[28, 13, 25, 3, 68, 96, 43, 52, 21, 53, 29, 91, 19, 43, 13, 71, 63, 32, 67, 93, 30, 40, 70, 31, 1, 19, 57, 65, 19, 12, 12, 56, 42, 32, 35, 46, 26, 43, 75, 29, 41, 62, 41, 74, 49, 96, 75, 99, 59, 96, 71, 86, 65, 29, 92, 75, 62, 99, 60, 68, 4, 36, 69, 79, 63, 75, 18, 0, 96, 9, 83, 1, 48, 86, 11, 29, 70, 4, 61, 15]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [11]:
set2=set(sample_list_2)
print(len(set2))

53
{0, 1, 3, 4, 9, 11, 12, 13, 15, 18, 19, 21, 25, 26, 28, 29, 30, 31, 32, 35, 36, 40, 41, 42, 43, 46, 48, 49, 52, 53, 56, 57, 59, 60, 61, 62, 63, 65, 67, 68, 69, 70, 71, 74, 75, 79, 83, 86, 91, 92, 93, 96, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [59]:
set3=[]
for i in set1:
    if i in set2:
        print(i, "Est√° en set2")
    else:
        print(i,"No est√° en set2")
        set3.append(i)
set3=set(set3)
print("SET1 \n",set1)
print("SET2 \n",set2)
print("SET3 \n",set3)

2 Est√° en set2
3 Est√° en set2
4 No est√° en set2
6 Est√° en set2
7 Est√° en set2
8 Est√° en set2
9 Est√° en set2
10 Est√° en set2
12 No est√° en set2
13 Est√° en set2
15 No est√° en set2
18 Est√° en set2
20 No est√° en set2
21 Est√° en set2
23 No est√° en set2
24 Est√° en set2
26 Est√° en set2
29 No est√° en set2
31 Est√° en set2
32 Est√° en set2
34 No est√° en set2
35 Est√° en set2
36 Est√° en set2
37 No est√° en set2
39 Est√° en set2
40 No est√° en set2
41 No est√° en set2
42 Est√° en set2
43 No est√° en set2
44 No est√° en set2
45 Est√° en set2
46 No est√° en set2
47 Est√° en set2
48 Est√° en set2
49 Est√° en set2
50 Est√° en set2
51 No est√° en set2
53 No est√° en set2
54 Est√° en set2
55 No est√° en set2
56 Est√° en set2
57 Est√° en set2
58 Est√° en set2
59 Est√° en set2
60 Est√° en set2
61 Est√° en set2
62 Est√° en set2
63 No est√° en set2
64 Est√° en set2
65 Est√° en set2
66 No est√° en set2
67 Est√° en set2
68 Est√° en set2
69 No est√° en set2
70 No est√° en set2
71 Est√° en set2
72 No est√° en set2
74 No est√° en set2
75 Est√° en set2
76 Est√° en set2
77 No est√° en set2
78 Est√° en set2
79 No est√° en set2
80 No est√° en set2
81 No est√° en set2
82 No est√° en set2
83 No est√° en set2
84 No est√° en set2
85 No est√° en set2
86 No est√° en set2
87 No est√° en set2
88 No est√° en set2
89 No est√° en set2
90 No est√° en set2
91 No est√° en set2
93 No est√° en set2
94 No est√° en set2
95 No est√° en set2
97 No est√° en set2
98 No est√° en set2
SET1
 {2, 3, 4, 6, 7, 8, 9, 10, 12, 13, 15, 18, 20, 21, 23, 24, 26, 29, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98}
SET2
 {0, 1, 2, 3, 6, 7, 8, 9, 10, 11, 13, 16, 18, 19, 21, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 38, 39, 42, 45, 47, 48, 49, 50, 52, 54, 56, 57, 58, 59, 60, 61, 62, 64, 65, 67, 68, 71, 75, 76, 78}
SET3
 {4, 12, 15, 20, 23, 29, 34, 37, 40, 41, 43, 44, 46, 51, 53, 55, 63, 66, 69, 70, 72, 74, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [58]:
set4=[]
for i in set2:
    if i in set1:
        print(i, "Est√° en set1")
    else:
        print(i,"No est√° en set1")
        set4.append(i)
set4=set(set4)
print("SET1 \n",set1)
print("SET2 \n",set2)
print("SET4 \n",set4)

0 No est√° en set1
1 No est√° en set1
2 Est√° en set1
3 Est√° en set1
6 Est√° en set1
7 Est√° en set1
8 Est√° en set1
9 Est√° en set1
10 Est√° en set1
11 No est√° en set1
13 Est√° en set1
16 No est√° en set1
18 Est√° en set1
19 No est√° en set1
21 Est√° en set1
24 Est√° en set1
25 No est√° en set1
26 Est√° en set1
27 No est√° en set1
28 No est√° en set1
30 No est√° en set1
31 Est√° en set1
32 Est√° en set1
33 No est√° en set1
35 Est√° en set1
36 Est√° en set1
38 No est√° en set1
39 Est√° en set1
42 Est√° en set1
45 Est√° en set1
47 Est√° en set1
48 Est√° en set1
49 Est√° en set1
50 Est√° en set1
52 No est√° en set1
54 Est√° en set1
56 Est√° en set1
57 Est√° en set1
58 Est√° en set1
59 Est√° en set1
60 Est√° en set1
61 Est√° en set1
62 Est√° en set1
64 Est√° en set1
65 Est√° en set1
67 Est√° en set1
68 Est√° en set1
71 Est√° en set1
75 Est√° en set1
76 Est√° en set1
78 Est√° en set1
SET1
 {2, 3, 4, 6, 7, 8, 9, 10, 12, 13, 15, 18, 20, 21, 23, 24, 26, 29, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98}
SET2
 {0, 1, 2, 3, 6, 7, 8, 9, 10, 11, 13, 16, 18, 19, 21, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 38, 39, 42, 45, 47, 48, 49, 50, 52, 54, 56, 57, 58, 59, 60, 61, 62, 64, 65, 67, 68, 71, 75, 76, 78}
SET4
 {0, 1, 33, 38, 11, 16, 19, 52, 25, 27, 28, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [96]:
set5=[]
for i in set1:
    if i in set2:
        print(i, "Est√° en set2")
        set5.append(i)
    else:
        print(i,"No est√° en set2")
        
set5=set(set5)
print("SET1 \n",set1)
print("SET2 \n",set2)
print("SET5 \n",set5)

IndentationError: expected an indented block (1110073494.py, line 9)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [67]:
print( "set1, guardado a partir de lista1 de 80 elementos: len ",len(set1))
print("set2, guardado de una lista 2 y luego transformada a set: len ",len(set2))
print("set 3 elementos que se encuentran en el set 1 pero no en el 2: len ",len(set3))
print("set 4 elementos que se encuentran en el set 2 pero no en el 1: len ",len(set4))
print("elementos comunes entre set 1 y 2: len ",len(set5))

set1, guardado a partir de lista1 de 80 elementos: len  80
set2, guardado de una lista 2 y luego transformada a set: len  51
set 3 elementos que se encuentran en el set 1 pero no en el 2: len  41
set 4 elementos que se encuentran en el set 2 pero no en el 1: len  12
elementos comunes entre set 1 y 2: len  39

#### Create an empty set called `set6`.

In [17]:
set6={0}

#### Add `set3` and `set5` to `set6` using the Python Set `update` [method](https://www.w3schools.com/python/ref_set_update.asp).

In [18]:
print(set3)
print(set5)
set6.update(set3)
set6.update(set5)
set6.remove(0)
print(set6)

NameError: name 'set3' is not defined

#### Check if `set1` and `set6` are equal.

In [105]:
if set1== set6:
    print("las dos listas son iguales")
else:
    print("Las dos listas son distintas")

las dos listas son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` [method](https://www.w3schools.com/python/ref_set_issubset.asp). Then check if `set1` contains `set3`.

In [108]:
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [122]:
u=set3.union(set3,set4,set5)

u=set3.union(set1,set2)

print(set3.issubset(u))
print(set4.issubset(u))
print(set5.issubset(u))
print(set1.issubset(u))
print(set2.issubset(u))

True
True
True
True
True

#### Using the `pop` method, remove the first element from `set1`.

In [163]:
set1=list(set1)
set1.pop(0)

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [173]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)
for i in set1:
    if i in list_to_remove:
         set1.pop()
print(set1)

[4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98]
[4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84]

## Section 3: Dictionaries

In this challenge you will practice how to manipulate Python dictionaries. Before starting on this challenge, you are encouraged to review W3School's [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp).

**Create a dictionary called `dict1` with the following key:value pairs representing a name and relative height:**  
Penelope: 178  
Arnau: 172  
Marta: 175

In [189]:
dic1 = {
  "name":( "Penelope","Arnau","Marta"),
  "relative height": (178, 172,175)
 
}
print(dic1)

{'name': ('Penelope', 'Arnau', 'Marta'), 'relative height': (178, 172, 175)}

You can access the elements of a dictionary by using 3 methods: `keys()`, `values()` and `items()`. 

As the names suggest the first method only returns the keys, the second only the values and the third both of them in pairs. 

**Use the three methods on `dict1` to look at the different results.**

In [190]:
print(dic1.keys())
print(dic1.values())
print(dic1.items())

dict_keys(['name', 'relative height'])
dict_values([('Penelope', 'Arnau', 'Marta'), (178, 172, 175)])
dict_items([('name', ('Penelope', 'Arnau', 'Marta')), ('relative height', (178, 172, 175))])

You can add a key-value pair to a dictionary by using the syntax `name_of_dict[key_name] = value`. If the key already exists, the corresponding value will be replaced. If not, a new key-value pair will be created in the dictionary.

**Use this syntax to add a new name:height pair to `dict1` and then print the whole dictionary.**

In [195]:
dic1["height"]=(2)
print(dic1)

{'name': ('Penelope', 'Arnau', 'Marta'), 'relative height': (178, 172, 175), 'height': 2}

You can also delete a key from a dictionary using the syntax `del name_of_dict[key_name]`. 

**Try using it to delete the key you just added and then print the dictionary again to see the results.**

In [196]:
del dic1["height"]
print(dic1)

{'name': ('Penelope', 'Arnau', 'Marta'), 'relative height': (178, 172, 175)}

Now you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in *sort* method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song *Shape of You*. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [3]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}
print(word_freq)

{'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

#### Sort the keys of `word_freq` ascendingly.

Please create a new dictionary called `word_freq2` based on `word_freq` with the keys sorted ascedingly.

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

2. Sort the `keys` list.

3. Create an empty dictionary `word_freq2`.

4. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [4]:
keys=[]
for i in word_freq.keys():
    keys.append(i)

keys.sort()

word_freq2 ={
    
}
for i in keys:
    for j in word_freq.keys():
        if i == j :
            word_freq2[i]=(word_freq.get(i))
            
print(word_freq2)

{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}

#### Sort the values of `word_freq` ascendingly.

Sorting the values of a dictionary is more tricky than sorting the keys because a dictionary's values are not unique. Therefore you cannot use the same way you sorted dict keys to sort dict values.

The way to sort a dict by value is to utilize the `sorted` and `operator.itemgetter` functions. The following code snippet is provided to you to try. It will give you a list of tuples in which each tuple contains the key and value of a dict item. And the list is sorted based on the dict value ( [reference](http://thomas-cokelaer.info/blog/2017/12/how-to-sort-a-dictionary-by-values-in-python/)
).

```python
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
print(sorted_tups)
```

Therefore, the steps to sort `word_freq` by value are:

1. Using `sorted` and `operator.itemgetter`, obtain a list of tuples of the dict key-value pairs which is sorted on the value.

2. Create an empty dictionary named `word_freq2`.

3. Iterate the list of tuples. Insert each key-value pair into `word_freq2` as an object.

Print `word_freq2` to confirm your dictionary has its values sorted. Your output should be:

```python
{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}
```

In [5]:
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
sorted_tups= dict(sorted_tups)
print(sorted_tups)

{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}